<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.multiTenancy">DATABASE</property>
        <property name="hibernate.multi_tenant_connection_provider">hibernate.data_hibernate_multitenancydatabase_14.multitenancy.MultitenantDatabaseProvider</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="hibernate.data_hibernate_multitenancydatabase_14.entity.AbstractIdentifiableObject"/>
        <mapping class="hibernate.data_hibernate_multitenancydatabase_14.entity.Address"/>
        <mapping class="hibernate.data_hibernate_multitenancydatabase_14.entity.Company"/>
        <mapping class="hibernate.data_hibernate_multitenancydatabase_14.entity.Passport"/>
        <mapping class="hibernate.data_hibernate_multitenancydatabase_14.entity.Person"/>

        <!-- other settings -->
    </session-factory>
</hibernate-configuration>